body{
    background-image: linear-gradient(to right, hotpink,rgb(219, 24, 24) );
}
nav {
    font-family: 'Akronim';
    font-size: 30px;
    display: flex;
    margin-left: 150px;
}

.todo{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.todo input{
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
}
.todo button{
    padding: 10px;
    width: 15%;
    border: 2px solid black;
    background-color: rgb(129, 11, 11);
    color: honeydew;
    cursor: pointer;

}
.todo button:hover{
    background-color: limegreen;
    color: black;
}
ul h2{
    text-align:center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
ul li{
list-style-type: none;
font-size: 27px;
margin-left: 150px;
box-shadow: 0 0 5px black;
padding:8px;
margin: 5px;
}
.completed li{
    list-style-type: none;
    font-size: 27px;
    margin-left: 150px;
    box-shadow: 0 0 5px black;
    padding:8px;
    margin: 5px;
    background-color: green; 
    }
ul i{
    float: right;
    
    background-color: transparent;
    cursor: pointer;
    
}
@media  screen  and (max-width:600px){
    nav {
        font-family: 'Akronim';
        font-size: 30px;
        
        margin-left: 80px;
    }
}